.header{
   display: flex;
   justify-content: space-between;
   align-items:center;
   padding-top: 40px;
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 15px;
   line-height: 140%;
   letter-spacing: 0.02em;

   &__logo{
      display: flex;
      align-items: center;
      &-image{
         width: 50px;
         margin: 0;
      }
      &-text{
         font-size: 34px;
         font-weight: 800;
         color: #010002;
         margin: 10px;
      }
   }
   &__links{
      display: flex;
      margin: 0;
      font-size: 18px;
      & a{
         margin-left: 15px;
         color: $black;
      }
   }
   &__link{
      &.active{
         color: $green;
      }
      &:hover{
         color: $green;
         text-decoration: underline;
      }
   }
   &__contacts{
      display: flex;
      align-items: center;
      &-icon{
         color: $green;
         margin-right: 10px;
      }
      &-phone{
         font-size: 16px;
         color: $black;
         &:hover{
            text-decoration: underline;
            color: $green;
         }
      }
      &-image{
         width: 20px;
         margin: 10px;
         transition: 1s;
         &:hover{
            transform: scale(1.2);
         }
      }
      &-lang{
         margin-left: 20px;
         &-ru{
            font-size: 14px;
            padding: 3px 7px;
            background-color: $white;
            border-radius: 5px 0 0 5px;
            border-top: 2px solid $green;
            border-left: 2px solid $green;
            border-bottom: 2px solid $green;
            border-right: 1px solid $green;
            &:hover{
               background-color: $green;
            }
         }
         &-en{
            font-size: 14px;
            padding: 3px 7px;
            margin-right: 10px;
            background-color: $white;
            border-radius: 0 5px 5px 0;
            border-top: 2px solid $green;
            border-left: 1px solid $green;
            border-bottom: 2px solid $green;
            border-right: 2px solid $green;
            &:hover{
               background-color: $green;
            }
         }
      }
      &-logout{
         display: flex;
         justify-content: start;
         color: $black;
         &-user{
            width: 25px;
            height: 25px;
            margin: 0 10px;
            color: $black;
            cursor: pointer;
            &:hover{
               color: $green;
            }
         }
         &-link{
            margin-left: 10px;
            align-self: center;
            &:hover{
               color: $green;
            }
         }
      }
      &-signin{
         color: $black;
         &:hover{
            color: $green;
         }
      }
   }

}