.create{
    margin: 40px 0 60px;
    &__links{
        display:flex;
        column-gap: 10px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &-block{
            display: flex;
            flex-direction: column;
        }
        &-label{
            font-weight: 500;
            font-size: 18px; 
        }
        &-input{
            max-width: 300px;
            padding-left: 10px;
        }
        &-colors, &-sizes{
            display: flex;
            column-gap: 10px;
        }
        &-color{
            text-align: center;
            margin-right: 10px;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            border: 1px solid black;
            cursor: pointer;
            position: relative;
            &-select{
                position: relative;
                &::before{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    content: "+";
                    font-weight: 900;
                    font-size: 30px;
                }
            }
            &-black{
                position: relative;
                &::before{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    content: "+";
                    font-weight: 900;
                    font-size: 30px;
                    color: white;
                }
            }
        }
        &-size{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 41px;
            height: 41px;
            background: white;
            color: black;
            border: 1px solid black;
            font-weight: 500;
            font-size: 17px;
            line-height: 140%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            &-select{
                color: white;
                background: black;
            }
        }
        &-select{
            max-width: 300px;
            font-weight: 500;
            font-size: 18px;
            padding-left: 10px;
        }
    }
}