.order{
    padding-top: 60px;

    &__link{
        display: flex;
        &-left{
            margin-right: 10px;  
        }
        &-right{
            margin-left: 10px;
            margin-right: 10px; 
        }
        &-title{
            margin-left: 10px; 
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 70px 0;
        &-info{
            display: flex;
            justify-content: center;
            align-items: center;
            &-image{
                height: 60px;
                margin-right: 30px;
            }
            & h3{
                font-weight:700;
            }
            &-text{
                font-weight: 700;
                font-size: 16px;
                line-height: 110%;
                letter-spacing: 0.02em;
                & p{
                    margin: 0;
                }
            }
        }
        &-btn{
            margin: 0;
        }
    }
}