.shop{
   margin: 40px 0 60px;
   &__links{
      display:flex;
      column-gap: 10px;
   }
   &__category{
      display:flex;
      margin: 20px 0;
      &-item{
         padding: 10px 30px;
         margin-right: 5px;
         font-size: 16px;
         font-weight: 900px;
         background-color: $white;
         color: $grey;
         border: 2px solid $lightgrey;
         transition: 0.3s;
         &:hover, &_active{
            background-color: $black;
            border: 2px solid $black;
            color: $white;
            cursor: pointer;
         }
      }
   }
   &__products{
      display: flex;
      flex-direction: column;
      &-setting{
         display: flex;
         justify-content: space-between;
         z-index: 10;
         &-add{
            align-self: end;
            margin-top: 30px;
            border-radius: 5px;
         }
         &-sort{
            text-align: center;
            &-title{
               font-weight: 500;
               font-size: 18px;
            }
            &-buttons{
               &-btn{
                  margin-left: 10px;
                  border-radius: 5px;
                  &_active{
                     background-color: $green;
                     color: $white;
                  }
               }
            }
         }
         &-discount{
            align-self: end;
            border-radius: 5px;
            &_active{
               background-color: $green;
               color: $white;
            }
         }
         &-info{
            color: $lightgrey;
            margin-top: 10px;
            margin-bottom: 0;
         }
      }
      &-collection{
         display: flex;
         justify-content:space-between;
         flex-wrap:wrap;
         margin-top: 0px;
         &-card{
            width: 31%;
            height: 550px;
            margin-top: 30px;
         }
      }
      &-info{
         margin-top: 30px;
      }
   }
}