.shop{
   margin: 40px 0 60px;
   &__link{
      &-left{
         margin-right: 10px;
      }
      &-right{
         margin-left: 10px;
      }
      &-left, &-right{
         color: $black;
         &.active{
            color: #6E9C9F;
         }
         &:hover{
            text-decoration: underline;
         }
      }
   }
   &__category{
      display:flex;
      margin: 30px 0;
      &-item{
         padding: 10px 30px;
         margin-right: 5px;
         font-size: 16px;
         font-weight: 900px;
         background-color: $white;
         color: $grey;
         border: 2px solid $lightgrey;
         transition: 0.3s;
         &:hover, &_active{
            background-color: $black;
            border: 2px solid $black;
            color: $white;
         }
      }
   }
   &__products{
      display: flex;
      flex-direction: column;
      &-setting{
         display: flex;
         justify-content: space-between;
         z-index: 10;
         &-info{
            color: $lightgrey;
         }
      }
      &-collection{
         display: flex;
         justify-content:space-between;
         flex-wrap:wrap;
         margin-top: 20px;
         &-card{
            width: 31%;
            height: 550px;
         }
      }
   }
}