.card{
   display:flex;
   flex-direction: column;
   text-align:center;
   &__image{
      background: $darkgreen;
      height: 450px;
      overflow: hidden;
      &-photo{
         width: 100%;
         &:hover{
            cursor: pointer;
            opacity: 50%;
         }
      }
   }
   &__name{
      margin-top: 20px;
      font-weight: 500;
      font-size: 18px;
      line-height: 110%;
   }
   &__price{
      //margin-top: 5px;
      font-weight: 500;
      font-size: 15px;
      line-height: 110%;
      color: $green;
   }
}