.checkout {
    margin: 40px 0 60px;
    &__link {
        display: flex;
        &-left {
            margin-right: 10px;
        }
        &-right {
            margin-left: 10px;
        }
    }
    &__form{
        display: flex;
        margin: 30px 0 40px;

        &-left{
            display: flex;
            flex-direction: column;
            width: 50%;
            // max-width: 400px;
            margin-bottom: 10px;
            & h3{
                margin-bottom: 20px;
            }
            & h3:nth-of-type(2), h3:nth-of-type(3) {
                margin-top:50px;
            }
            & input, & textarea{
                max-width: 300px;
                height: 40px;
                padding-left: 10px;
                border: none;
                border-bottom: 2px solid $black;
                background-color: $white;
                &::placeholder{
                    font-family: "Raleway";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;
                    color: $green;
                }
            }
            & textarea{
                min-height: 100px;
                margin-top: 10px;
            }
        }
        &-right{
            display: flex;
            flex-direction: column;
            width: 50%;
            & h3:nth-of-type(2){
                margin-top: 70px;
            }
            &-table{
                margin-right: 150px;
                display: grid;
                row-gap: 20px;
                &-title{
                    display: grid;
                    grid-template-columns:  4fr 4fr; 
                    & th{
                        display: flex;
                        // justify-content: start;
    
                    }
                }
                &-rows{
                    display: grid;
                    row-gap: 20px;
                }
                &-row{
                    display: grid;
                    grid-template-columns:  4fr 4fr; 
                    & td{
                        display: flex;
                        justify-content: space-between;
                        // display: table-cell;
                    }
                    &-image{
                        width: 70px;
                        margin: 0 130px 0 0;
                    }
                }


                &-foot{
                    background: $lightlightgrey;
                    color:$black;
                }
            }
            &-label{
                display: flex;
                align-items: center;
                margin-top: 20px;
            }
            &-checkbox{
                margin-right: 10px;
            }
            &-btn{
                margin-top: 40px;
            }
        }
    }
}