*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
a{
   text-decoration: none;
   // color:inherit;
}
ul{
   list-style: none;
}
.container{
   width:100%;
   max-width:1110px;
   margin:0 auto;
}
h2{
   font-family: 'Raleway';
   font-weight: 600;
   font-size: 30px;
   font-weight: 140%;
   letter-spacing: 0.02em;
}
h3{
   font-family: 'Raleway';
   font-weight: 600;
   font-size: 20px;
   font-weight: 140%;
   letter-spacing: 0.02em;
}

$white: #ffffff;
$black: black;
$green: #6E9C9F;
$darkgreen: #567a7c;
$lightgrey: rgb(180, 178, 178);
$grey: rgb(116, 115, 115);

.btn{
   font-family: "Raleway";
   font-style: normal;
   font-size: 16px;
   font-weight: 900px;
   background-color: $white;
   color: $grey;
   border: 2px solid $lightgrey;
   &:hover{
      background-color: $black;
      border: 2px solid $black;
      color: $white;
   }
}
@font-face {
   font-family: "Raleway";
   src: url("./fonts/Raleway-Bold.ttf ");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Raleway";
   src: url("./fonts/Raleway-SemiBold.ttf ");
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: "Raleway";
   src: url("./fonts/Raleway-Medium.ttf ");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "Raleway";
   src: url("./fonts/Raleway-Regular.ttf ");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Raleway";
   src: url("./fonts/Raleway-Light.ttf ");
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: "Raleway";
   src: url("./fonts/Raleway-ExtraLight.ttf ");
   font-weight: 200;
   font-style: normal;
}
@import './layout/header/Header.scss';
@import './layout/footer/Footer.scss';
@import './pages/home/Home.scss';
@import './pages/shop/Shop.scss';
@import './pages/brands/Brands.scss';
@import './pages/login/Login.scss';
@import './pages/register/Register.scss';
@import './pages/card/Card.scss';